@tailwind base;
/* @tailwind components; */
/* @tailwind utilities; */

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: "Roboto Mono";
  src: url("/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 700;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

body {
  background-color: #272C33;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;

  color: white;
}

* {
  line-height: 1.1875em; /* Figma does this for some reason */

  /* Anti-aliasing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/* Shoelace colors */
:root {
  --sl-color-primary-50: #ffffff !important;
  --sl-color-primary-100: #dce3fc !important;
  --sl-color-primary-200: #b9c6f9 !important;
  --sl-color-primary-300: #95aaf6 !important;
  --sl-color-primary-400: #728ef3 !important;
  --sl-color-primary-500: #4f71f0 !important;
  --sl-color-primary-600: #2c55ed !important;
  --sl-color-primary-700: #133fe0 !important;
  --sl-color-primary-800: #1035bc !important;
  --sl-color-primary-900: #0d2b99 !important;
  --sl-color-primary-950: #0a2176 !important;

  --sl-font-sans: Roboto !important;
}

sl-dialog::part(body) {
  overflow-x: hidden;
}

/* svelte-notifications */
.default-position-style-top-left,
.default-position-style-top-center,
.default-position-style-top-right,
.default-position-style-bottom-left,
.default-position-style-bottom-center,
.default-position-style-bottom-right {
  width: auto !important;
}

.default-position-style-top-right {
  top: 3rem !important;
}