@tailwind base;
/* @tailwind components; */
/* @tailwind utilities; */

.action-button {
  border-radius: 3px;
  background-color: #1b3fbc;
  color: white;
  padding: 0.3rem 0.7rem;
  font-weight: bold;
  width: max-content;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > * {
  width: min(90%, 50rem);
}

body {
  background-color: #f4f4f6;
}

/* Shoelace colors */
:root {
  --sl-color-primary-50: #ffffff !important;
  --sl-color-primary-100: #dce3fc !important;
  --sl-color-primary-200: #b9c6f9 !important;
  --sl-color-primary-300: #95aaf6 !important;
  --sl-color-primary-400: #728ef3 !important;
  --sl-color-primary-500: #4f71f0 !important;
  --sl-color-primary-600: #2c55ed !important;
  --sl-color-primary-700: #133fe0 !important;
  --sl-color-primary-800: #1035bc !important;
  --sl-color-primary-900: #0d2b99 !important;
  --sl-color-primary-950: #0a2176 !important;
}
